/*{
    scroll-behavior:smooth;
}*/
body {
    font-family: 'Open Sans', sans-serif;
    margin:0; 
    background:#ffeaea;  
    /*user-select:none;*/
    color:#983;
}
.cardte{
    width:100%;
    height:480px;
    background-color:#003;
    position:absolute ;
    left:50%;
     transform:translate(-50%, -50%);
    border-radius:10px;
    top:60%;
}
.clip-top-1{
    width:100%;
    height:175px;
   
    position:relative;
    background:linear-gradient(-45deg, #fff, #EC9 );
    clip-path: polygon(100% 0%, 100% 50%, 0% 100%, 0% 0%);
    border-radius:10px 10px 0 0;
}
.line{
    position:relative ;
    width:80px;
    height:2px;
    border-radius:10px;
    background-color:#003;
    top:-25px;
    left:10px;
    transform:rotate(-15deg);
    box-shadow:240px 0px #003;
}
.user-img{
    width:115px;
    height:auto ;
    border-radius:50%;
    position:absolute ;
    top:110px;
    left:50%;
    transform:translate(-50%, -50%);
    border:3.5px solid #fff;
    background-position:0px 0px;
    transition:0.3s;
}
.user-name{
    position:absolute ;
    font-size:20px;
    font-family: 'Montserrat' ;
    top:220px;
    font-weight:bolder ;
    left:50%;
    transform:translate(-50%, -50%);
}


@keyframes heart{
    0%{
        
    }
    50%{
        transform:scale(1.1);
    }
    100%{}
}
#header{
    height:50px;
    font-size:35px;
    color:white;
    font-weight:bold; background:rgba(0,0,0,0.8);
    backdrop-filter:blur(10px);
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index:9;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-left:10px;
    padding-right:15px;
    box-sizing:border-box ;
}
.logo-titulo{
				color: #202c2d;
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5, 2px 2px 2px rgba(206,89,55,0);
    font-size:35px;
}

#head{
    width:100%;
    height:170px;
    background:#2b3a63;
    display:flex;
    align-items:center;
    padding-top:100px;
    flex-flow:column;
    font-size:50px;
    color:white;
    font-weight:bold;
}
#menu{
    position:fixed;
    width:100%;
    position:fixed;
    top:-300px;
    left:0;
    background:rgba(0,0,0,0.5);
    transition:0.5s;
    z-index:10;
    backdrop-filter:blur(10px);
    color:white;
}
.open{
    top:0 !important;
}
#upper{
    height:50px;
    font-size:20px;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    box-sizing:border-box ;
    padding-right:15px;
    border-bottom:1px solid rgba(255,255,255,0.5);
}
#items>a{
    text-decoration:none;
    color:white;
    -webkit-tap-highlight-color:rgba(255,255,255,0.2);
}
#items>a>div{
    height:50px;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    box-sizing:border-box ;
    padding-left:10px;
}
.a{
				text-decoration:none;
				color: white;
				padding: 20px 0;
}
.h2{
				text-align:center;
				font-family: 'New Tegomin', serif;
}

section{
				display:flex;
				flex-wrap:wrap;
				}
.banner{
				width: 90%;
				/*max-width: 600px;*/
				height: 200px;
				border:3px #983 solid;
				font-size:50px;
				font-family: 'New Tegomin', serif;
		  text-align:center;
				text-decoration:none;
				border-radius: 12px;
				margin-top:70px;
				margin-bottom:5px;
				margin-left: 10px;
				background-size:100% 100%;
				animation:banner 10s infinite;
				animation-direction:alternate;
}
@keyframes banner{
				0%, 30%{
								background-image:url(img/carnefuego.jpg);
				}
				35%, 65%{
								background-image:url(img/picada.jpg);
				}
				70%, 100%{
								background-image:url(img/samwich1.jpg);
			}
		}	
			
			

			
			
.he-cont{
				background-image:url(img/mesa.jpg);
				background-size: cover; 
				    object-fit:cover;
								width: 96%;
							/*	max-width:600px;*/
								height: 170px;
								margin: 10px 6px;
								display:flex;
								flex-direction:column;
								justify-content:center;
								align-items:center;
								box-shadow:6px 8px 8px #983;
								border-radius: 12px;
								
}
.he-h1{
				font-size:22px;
				color:#7f98ff;
				text-align:center;
}
.he-a{
				text-decoration:none;
				color: #7f98ff;
				padding: 3px 0;
				border:2px #2a43ff solid;
				border-radius: 999px;
				width: 70%;
				text-align:center;
			
}
       /*card rankin*/
.cont-cards{
				width: 95%;
				display:flex;
				flex-wrap:wrap;
				justify-content:center;
				
}
.cards{
				width:48%;
			/*	max-width: 400px;*/
				min-width: 300px;
				background: #fff;
				box-shadow: 0 8px  0 #888;
		flex-direction:column;
				margin:15px auto;
				display:flex;
				
				border-radius: 8px;
				
}
.img{
				width: 90%;
				height: 60%;
		  margin: auto;
				border-radius: 8px;
}
h1{
				text-align:center;
				color: #202c2d;
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5, 2px 2px 2px rgba(206,89,55,0);
}
.he-aa{
				text-decoration:none;
}

footer{
				width: 100%;
				height: 220px;
				background: #022966;
				dislay:flex;
				justify-content:space-between;
}
#icons .fa-cont{
    display:inline-block ;
    width:65px;
    font-size:30px;
    padding: 6px; color:#4f5bd5 ;                          text-align:center;
    margin:4px 4px;
    border-radius: 5px; 
    background: #bfe6ff; 
    box-shadow: inset 8px 8px 15px #a2c4d9, inset -8px -8px 15px #dcffff;
}
.fa-youtube:hover{
    color:#f00;
}
.fa-twitter:hover{
    color:#00aaff;
}
.fa-facebook:hover{
    color:#0000aa;
}
.fa-instagram:hover{
    background:-webkit-linear-gradient(top right,#4f5bd5,#962fbf,#d62976,#fa7e1e,#feda75);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent ;
}
.btn-wsp{
    position:fixed ;
    width:55px;
    height:55px;
    line-height:55px;
    bottom:10px;
    right:10px;
    background:#0df053;
    color:#fff;
    border-radius:50%;
    text-align:center ;
    font-size:30px;
    box-shadow:0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
}

btn-wsp:hove{
    text-decoration:none ;
    color:#0df053;
    background:#fff;
}
.icon-whatsapp:before { content: '\f232'; } /* 'ïˆ²' */
