*{
				margin: 0;
				padding: 0;
				box-sizen:border-box;
}



body {
    width:100vw;
    height:100vh;
    background-image:url(./img/te.jpg) ;
    background-position:center center ;
    background-repeat:no-repeat ;
    background-size:cover;
    background-attachment:fixed ;
}
header{
    width:100%;
   
}
.section{
       width:100%;
    height:40px;
    padding:4px;
    top:2px;
    
    border-radius:42px;
    background-color:#777;
    font-size:28px;
    position: fixed ;
  display: flex;
  justify-content:space-around ;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  
}
.conte{
				margin-top:15%;
				
}
.h1{
    font-size:46px;
    color:#881;
    text-shadow:6px 6px 8px #303030;
    text-align:center ;
   
}

				.h11{
color: #202c2d;
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5, 2px 2px 2px rgba(206,89,55,0);
    font-family:ubuntu;
    font-size:45px;
    text-align:center ;
    /* This text shadow is taken from here: https://html-css-js.com/css/generator/text-shadow/ */
    margin-top:10px;
}

.h2{
    width:80%;
    height:40%;
    margin:auto auto ;
    font-size:26px;
    text-shadow:5px 5px 8px white;
    background-color:#881;
    border-radius:25px;
    text-align:center ;
    opacity:.7;
}
.tep{
				width:80%;
    height:40%;
    margin:auto auto ;
    font-size:16px;
    text-shadow:5px 5px 8px white;
    background-color:#881;
    border-radius:25px;
    text-align:center ;
    opacity:.7;
}
.art-conte{
    width:80%;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:center;
    background-color:#fffafa;
    opacity:.8;
    border-radius:30px  30px 0;
    box-shadow:10px 10px 10px #406640;
    margin-top:20px;
    
   } 
    

.img{
    width:83%;
    height:200px;
    margin:0 20px 10px;
    border-radius:8px;
    box-shadow:8px 8px 8px #305530;
    opacity:1;
    object-fit:cover;
    
}
.pp{
    font-size:28px;
    color:#300;
    text-align:center ;
    
}
.pe{
    font-size:18px;
    color:#406640;
}
.pp1{
    font-size:20px;
    color:#300;
    text-align:center ;
}

.a{
    font-size:28px;
    text-decoration:none ;
    padding:0 4px;
    text-align:center;
    color:#253;
    border-radius:999px;
    border:3px #253 solid;
    bottom:15px;
}
.sec-con{
				width: 96%;
				height: auto;
				color:#fff;
				display:flex;
				flex-wrap:wrap;
				justify-content:center;
}
.sec-car{
		  width: 46%;
		  margin: 5px ;
		  background:#fffafa;
		  opacity:.8;
		  border-radius: 30px 6px 30px 6px;
}
.sec-img{
				width: 90%;
				object-fit:cover;
		  border-radius: 14px;
				opacity:1;
}
.sepa{
    width:90%;
    margin:10px 10px;
    border:solid #f4b076;
    
}
form{
    width:80%;
    background-color:#200;
    opacity:.7;
    
}
input{
    color:white;
    background-color:#272727;
}
textarea{
    width:80%;
    height:hidden ;
    background-color:#272727;
    color:white;
}
    
.afo{
    
     padding:3px;
				text-decoration:none;
				font-size:28px;
				color:#253;
				border:2px #253 solid;
				
			 border-radius: 8px;
}
.foo{
            display:flex;
            justify-content:space-between;
            align-items:center ;
            padding: 0;
            margin: 0;
            height: 50vh;
            background-size: 500% 500%;
            background-image: -o-linear-gradient(
                315deg,
                #231557 0%,
                #44107A 29%,
                #886 67%,
                #00361b 100%);
            background-image: linear-gradient(
                -225deg,
                #231557 0%,
                #44107A 29%,
                #886 67%,
                #00361b 100%);
            -webkit-animation: change_bg 15s linear infinite;
                    animation: change_bg 15s linear infinite;
        }
        @-webkit-keyframes change_bg{
            50%{
                background-position: 100% 100%;
            }
        }
        @keyframes change_bg{
            50%{
                background-position: 100% 100%;
            }
        }
.action{
    color:white;
    width:95%;
    padding:12px 0;
    border:3px #888 solid ;
    border-radius:999px;
    text-decoration:none;
    font-size:24px;
    text-align:center ;
    margin:0 10p;   
}
.footer-p{
    font-size:26;
    text-align:center ;
}

#icons .fa-cont{
    display:inline-block ;
    text-align:center ;
    width:70px;
    font-size:30px;
    padding:10px;
    margin: 8px;
    border-radius: 5px; 
    background: #bfe6ff; 
    box-shadow: inset 8px 8px 15px #a2c4d9, inset -8px -8px 15px #dcffff;
}
.fa-youtube:hover{
    color:#f00;
}
.fa-twitter:hover{
    color:#00aaff;
}
.fa-facebook:hover{
    color:#0000aa;
}
.fa-instagram:hover{
    background:-webkit-linear-gradient(top right,#4f5bd5,#962fbf,#d62976,#fa7e1e,#feda75);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent ;
}
